h1 {
    color: #ff0000;
     font-family: times,helvetic,sans-serif;
     font-size: 112px;
     margin: 0;
     padding-top: 12px;
     text-align: center;
 }
     
 h2 {
   color: #ff0000;
   font-family: Comic Sans,Comic Sans MS,cursive;
   font-size: 40px;
   font-weight: normal;
   text-align: center;
 
 
 
 
 }

 p2{
    color: #00ff2a;
     font-family: times,helvetic,sans-serif;
     font-size: 50px;
     margin: 0;
     padding-top: 12px;
     text-align: center;

 }
 
 a {
    color: #ffffff;
     font-family: times,helvetic,sans-serif;
     font-size: 50px;
     margin: 0;
     padding-top: 12px;
     text-align: center;

 }
 
 
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change the link color to #111 (black) on hover */
 li a:hover {
   background-color: rgb(255, 255, 255);
 }
 
 
 .column {
   float: left;
   width: 33.33%;
   padding: 0px;
 }
 
 form {
   width:48px;
 height:48px;
 background: url(donate-button.png);
 background-size: 100% 100%;
 }
 